header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  flex-wrap: wrap;
  max-width: 1900px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
  flex-wrap: wrap;
}

nav a {
  font-size: 21px;
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: bold;
}

nav #menu a {
  color: white;
  size: 60px;
  text-decoration: none;
  transform: 2.5ms ease-in;
  position: relative;
}

nav #menu a::before {
  content: "";
  position: absolute;
  padding: 0rem;
  bottom: -10px;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: #a6906c;
  transition: all 1.5s ease;
}

nav #menu a:hover:before {
  width: 100%;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

#btn-mobile {
  display: none;
}

@media (max-width: 685px) {

#cab {
  justify-content: space-between;
}

#menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 100px;
  right: 0px;
  background: #0c0c0cf6;
  height: 0px;
  transition: .0.3s;
  z-index: 1000;
  text-align: center;
  visibility: hidden;
  overflow-y: hidden;
}
#nav.active #menu {
  visibility: visible;
  line-height: 2.5;
  height: 438px;
  overflow-y: auto;
  
}
#menu li:hover {
  background: #a6906c;
}


#menu li{
  border-bottom: 1px solid #ffffff11;
}

#menu .fa-brands{
  margin-right: 7px;
}

#btn-mobile {
  display: flex;
  padding: .5rem 2rem;
  font-size: 1.3rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: .8rem;
  color: white;
  margin-top: 9px;
  align-items: center;
}

#hamburguer {
  display: block;
  width: 30px;
  border-top: 3px solid white;
}

#hamburguer::after, #hamburguer::before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#nav.active #hamburguer {
  border-top-color: transparent;
}

#nav.active #hamburguer::before {
transform: rotate(135deg);
}

#nav.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}



}