@media (max-width: 830px) {


  .secao1 {
    height: 750px;
  }

  .secao2 {
    padding-left: 10px;
  }

  .servicos {
    height: 380px;
  }

  .imgsobre {
    margin: 0px;
    margin-right: 25px;
  }

  .noticias {
    width: 320px;
    height: 460px;
    padding: 5px;
  }

  .noticias img {
    width: 310px;
    
  }

 .span5 {
  height: 500px;
 }

 }


@media (max-width: 600px) {


  .secao2 h1, p{
    text-align: center;
    
  }
  .secao1 {
    height: 600px;
  }

  .h-4::before {
    width: 100px;
  }

  .divsecao1 h1 {
    font-size: 50px;
  }


  .divsecao1 h2 {
    font-size: 40px;
  }

  .divsecao1 h5 {
    font-size: 20px;
  }
  

}

@media (max-width: 418px) {

  .divsecao1 h1 {
    font-size: 40px;
  }


}

@media (min-width: 416px) and (max-width: 597px) {

  .h-4::before {
    width: 105px;
  }
}


 @media (min-width: 1140px) and (max-width: 1538px) {

  .servicos {
    width: 493px;
    height: 290px;
  }

  .servicos:hover {
    width: 505px;
    height: 295px;
  }

 }


 @media (max-width: 373px) {
  .secao1 a {
    font-size: 15px;
    padding: 10px;
    flex: wrap;
  }
 }

 @media (min-width: 374px) and (max-width: 458px) {

  .secao1 a {
    font-size: 16px;
  }
 }

 @media (max-width: 435px) {

  .botao-3 a {
    font-size: 17px;
  }

 }

 @media (max-width: 384px) {
  .botao-3 a {
    font-size: 15px;
  }
 }

 @media (max-width: 478px) {
 
  .secao4 a {
    font-size: 14px;
  }
}

  @media (max-width: 405px) {
 
    .secao4 a {
      font-size: 12px;
    }

  
 }

 @media (max-width: 368px) {
 
  .secao4 a {
    font-size: 10px;
  }

  }

  @media (max-width: 332px) {
 
    .secao4 a {
      font-size: 8px;
    } 

    }

    @media (max-width: 371px) {

      footer {
        height: 420px;
      }

    }


    @media (max-width: 337px) {

      .divsecao1 h1 {
        font-size: 35px;
        margin-bottom: 0px;
      }

      .h-4::before {
        width: 75px;
      }

      .divsecao1 h1 {
        font-size: 35px;
        margin-top: 0px;
      }
    }

   @media (max-width: 350px) {

    .servicos {
      height: 370px;
    }
   }

   @media (max-width: 470px) {
    .span5 h1 {
      font-size: 20px;
 
    }

    .span5 h3 {
      font-size: 15px;
    }
    
    .span5 h4 {
      margin: 0px;
    }

    footer {
      height: 400px;
    }
    
   }

   @media (min-width: 384px) and (max-width: 470px) {

    footer h4 {
     padding-top: 0px;
   }
   .span5 h1 {
    padding-top: 0px;
   }
   }

   @media (min-width: 471px) and (max-width: 516px) {

   footer {
    padding: 0px;
   }

   .span5 .h4-chato {
    margin: 20px 0px;
   }
  }

   @media (min-width: 424px) and (max-width: 474px) {

   .contato-footer {
    margin-top: 8px;
   }

   .h4-chato {

    padding-top: 10px;

   }

   }

   @media (max-width: 630px) {
    video {
      width: 500px;
    }
    .video-1 {
      width: 505px;
    }
   }

   @media (max-width: 530px) {
    video {
      width: 400px;
    }
    .video-1 {
      width: 405px;
    }
   }

   @media (max-width: 430px) {
    video {
      width: 350px;
    }
    .video-1 {
      width: 355px;
    }
   }

   @media (max-width: 380px) {
    video {
      width: 300px;
    }
    .video-1 {
      width: 305px;
    }
   }